body {
    font: Arial, Helvetica, sans-serif;
}

#container {
    width: 1056px;
    /* border: 1px solid gray; */
    margin: 0 auto;
}

#header {
    height: 100px;
    padding: 10px 0;
}

#brand {
    float: left;
}

h1 a {
    font-size: 50px;
    font-weight: 90px;
    color: #861BBF;
    text-decoration: none;
}

#searchBox {
    float: right;
    background: linear-gradient(#E4F289, #B7E953);
    background: -webkit-linear-gradient(#E4F289, #B7E953);
    background: -o-linear-gradient(#E4F289, #B7E953);
    background: -moz-linear-gradient(#E4F289, #B7E953);
    width: 400px;
    height: 40px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
    border: 1px solid #e84c4c;
}

.text {
    height: 15px;
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #861BBF;
    background: white url(images/search_25px.png) right center no-repeat;
    border: 1px solid #861BBF;
}

.submit {
    float: right;
    padding: 2px 5px px 5px;
    font-weight: bold;
    color: whitesmoke;
    background: #861BBF;
    font-size: 15px;
    height: 27px;
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#E4F289, #B7E953);
    background: -o-linear-gradient(#E4F289, #B7E953);
    background: -moz-linear-gradient(#E4F289, #B7E953);
    padding: 8px 0;
}


ul {
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1.5px solid #861BBF;
    line-height: 30px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#menu ul li a:hover {
    font-size: 20px;
    font-weight: bold;
    color: #e84c4c;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #861BBF;
}

#intro {
    background: linear-gradient(#e5f2bb, #b7e952);
    background: -webkit-linear-gradient(#E4F289, #B7E953);
    background: -o-linear-gradient(#E4F289, #B7E953);
    background: -moz-linear-gradient(#E4F289, #B7E953);
    padding: 30px;
    margin: 16px 0;
}

#intro h3 {
    font-size: 45px;
    color: darkgreen;
    font-weight: normal;
}

#intro p {
    font-size: 24px;
    color: darkgreen;
    text-align: justify;
}

strong {
    color: rgb(7, 82, 7);
}

.sideBar {
    height: 500px;
    width: 450px;
    border: 1px solid #861BBF;
    border-radius: 20px;
    padding: 10px 30px;
}

.sideBar h3 {
    color: #861BBF;
    font-size: 30px;
}

.sideBar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #861BBF;
}

.sideBar ul li a:hover {
    text-decoration: none;
    color: #e84c4c;
    font-size: 23px;
    font-weight: bold;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

.sideBar ul {
    padding-top: 8px;
}

#leftSideBar ul li {
    padding: 4px 0 4px 10px;
    list-style-image: url(arrow.png);
    padding-left: 10px;
}


#leftSideBar {
    float: left;

}

#rightSideBar {
    float: right;
}

#rightSideBar ul li {
    padding: 15px 0px 15px 50px;
    background: url(images/tick.png) no-repeat left center;
}


.footer {
    height: 50px;
    background: linear-gradient(#B7E953, #E4F289);
    background: -webkit-linear-gradient(#E4F289, #B7E953);
    background: -o-linear-gradient(#E4F289, #B7E953);
    background: -moz-linear-gradient(#E4F289, #B7E953);
    padding: 10px 35px;
    margin-top: 15px;
    text-align: center;
}
